.base-link
  line-height: 2.3rem
  text-decoration: none
  cursor: pointer

  &--primary
    color: $info

  &:hover
    text-decoration: underline

  &.active
    cursor: default
    color: $secondary

    &:hover
      text-decoration: none
