@import 'variables'
@import 'mixins'
@import 'fonts'
@import 'text'
@import 'vue-transitions'
@import 'components/*'

html
  font-family: Quicksand, sans-serif
  font-weight: 500
  font-size: 62.5%

body
  font-size: 1.5rem
