add_hover($color)
  &:hover
    background-color: rgba($info, 0.95)
    box-shadow: 0 4px 16px rgba($info, 0.95)

add_focus($color)
  &:focus
    outline: none
    opacity: .9

add_active()
  &:active
    box-shadow: none

.base-button
  height: auto !important
  padding: 15px 0 !important
  font-size: 1.5em !important
  font-weight: 700
  font-family: inherit
  line-height: 31px !important
  letter-spacing: 0.4px
  text-transform: uppercase
  border: none
  cursor: pointer !important
  border-radius: 10px !important

  &--primary
    color: $white
    background-color: $info
    add_hover($info)
    add_focus($info)
    add_active()

  // --- ru locale
  .auth--ru &
    font-size: 1.4em !important

  .auth--mobile &
    font-size: 1.2em !important

