.text-field

  .input
    font-size: 15px

    ~ .label
      font-size: 15px
      color: $secondary

    &:focus
      border-color: $positive !important

      ~ .label
        color: $secondary !important

  .input:focus ~ .label,
  .input:not(:focus):not(._empty) ~ .label,
  .error
    font-size: 12px !important

  .error
    position: static
    margin-top: 5px
    margin-bottom: -24px
    padding: 5px
    color: $white !important
    line-height: 1.4em
    background-color: $negative
    border_solid(1px, '', $negative)
    border_radius(3px)
