/* --- accordion --- */
.accordion-enter-active,
.accordion-leave-active
  height: 100px
  overflow: hidden
  transition: height .2s linear, opacity .2s linear

.accordion-enter,
.accordion-leave-to
  height: 0
  opacity: 0
